Title: <%= @contact.name %> <br>
About: <%= @contact.about %> <br>
FB Link: <%= @contact.link %> <br>
Website: <%= @contact.website %> <br>
location: <%= @contact.country %> <%= @contact.city %> <br>

<form>
  Name:<input> <br>
  Email:<input> <br>
  Message: <textarea></textarea> <br>
  <input type="submit">
</form>

