<html>
<head>
<title>Home</title>
</head>
<body>
  <a href="/<%= params['id']%>/home">Home</a> | <a href="/<%= params['id']%>/about">About</a> | <a href="/<%= params['id']%>/contact">Conatct</a> | <a href="/<%= params['id']%>/news">News</a> | <a href="/<%= params['id']%>/events">Events</a> | <a href="/<%= params['id']%>/gallery">Gallery</a>
  <%= yield %>
</body>
</html>