<html>
<head>
<title>Home</title>
</head>
<body>
  <%= link_to 'Home', url(:page, :page_home, :id => params['id']) %> |
  <%= link_to 'About', url(:page, :page_about, :id => params['id']) %> |
  <%= link_to 'Contact', url(:page, :page_contact, :id => params['id']) %> |
  <%= link_to 'News', url(:page, :page_news, :id => params['id']) %> |
  <%= link_to 'Gallery', url(:page, :page_gallery, :id => params['id']) %>
  <% # link_to 'Events', url() %>
  <%= yield %>
</body>
</html>