<html>
<head>
<title>Home</title>
</head>
<body>
  <a href="/<%= params['token']%>/home">Home</a> | <a href="/<%= params['token']%>/about">About</a> | <a href="/<%= params['token']%>/contact">Conatct</a> | <a href="/<%= params['token']%>/news">News</a> | <a href="/<%= params['token']%>/events">Events</a> | <a href="/<%= params['token']%>/gallery">Gallery</a>
  <%= yield %>
</body>
</html>